<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Viewer</title>
</head>
<body>
    <h1>Log Viewer</h1>
    <ul id="log-list">
        {% for line in lines %}
            <li>{{ line }}</li>
        {% endfor %}
    </ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/log');  // Add '/log' to the connection URL

        socket.on('log_update', function(data) {
            var logList = document.getElementById('log-list');
            var newLine = document.createElement('li');
            newLine.appendChild(document.createTextNode(data.line));
            logList.appendChild(newLine);

            // Keep only the last 'log_buffer_size' lines
            if (logList.childElementCount > {{ log_buffer_size }}) {
                logList.removeChild(logList.firstElementChild);
            }
        });
    </script>
</body>
</html>
